[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "echo 'NEXT_PUBLIC_API_URL='$NEXT_PUBLIC_API_URL",
  "npm run build"
]

[start]
cmd = "npm start"

[variables]
NEXT_PUBLIC_API_URL = "https://invoiceme-backend.up.railway.app/api"

